/* footer */
footer div {
    display: flexbox;
    position: relative;
}

.flex-footer {
    background-color: rgba(144, 212, 197, 255);
}

.flex-footer div {
    margin-bottom: 3rem;
}

.logo {
    padding-top: 3rem;
}

.logo a {
    display: flex;
    justify-content: center;
    color: hsl(167, 40%, 31%);
    font-size: 35px;
    font-weight: 900;
}

#contact {
    display: flex;
    justify-content: center;
}

#contact img {
    width: 30px;
    margin-inline: 10px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    margin-inline: 30px;
    margin-bottom: 30px;
    color: hsl(168, 34%, 41%);
}
div .attribution{
    margin: 0;
}

.attribution {
    font-size: 11px;
    color: hsl(168, 43%, 38%);
    text-align: center;
}

.attribution a {
    margin-inline: 10px;
    color: hsl(228, 45%, 44%);
}