@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*   header   */

a {
    font-family: 'Barlow';
    text-decoration: none;
    color: white;
    font-family: 'Barlow';
    font-size: 18px;
    font-weight: 700;
    margin-inline: 20px;
}

body {
    /* background-color: yellow; */
    width: 100%;
    height: 100%;
}

#container-header {
    z-index: 888;
    position: absolute;
    top: 0;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 3rem 30px;
}

#logo a {
    margin: 0;
}

#btn-contact {
    font-family: 'Fraunces';
    font-weight: 700;
    border-radius: 50px;
    border-style: none;
    padding: 20px;
    padding-inline: 35px;
}

header {
    z-index: -999;
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: blue;
    background-image: url(/sunnyside-agency-landing-page-main/images/desktop/image-header.jpg);
    /* background-image: url(./images/desktop/image-header.jpg); */
}

#container-content-header {
    position: absolute;
    color: aliceblue;
    top: 130px;
    margin-inline: 3rem;
    margin-top: 3rem;
    display: grid;
    width: -webkit-fill-available;
    justify-items: center;
    row-gap: 3rem;
    height: inherit;
}

/* img{
    overflow-clip-margin: inherit;
    overflow: -moz-hidden-unscrollable;
} */

.row{
    display: grid;
    grid-template-columns: 50% 50%;
}

h2 {
    font-family: 'Fraunces', 'serif';
    font-size: 46px;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
    padding-bottom: 30px;
}

p {
    color: hsl(212, 27%, 19%);
    font-family: 'Barlow';
    font-weight: 600;
    font-size: 21px;
    color: hsl(232, 10%, 55%);
    padding-bottom: 30px;
    line-height: 35px;
}

.column-text .learn {
    font-family: 'Fraunces', 'serif';
    color: hsl(212, 27%, 19%);
    font-weight: 900;
    margin: 0;
}

.column-img img{
    display: flex;
    width: 100%;
}


.column-text{
    display: flex;
    width: 100%;
}

.area-text{
    margin-inline: 22%;
    margin-block: auto;
}

#container-content-img-2{
    color: blueviolet;
    width: 500px;
    height: 100vh;
    width: -webkit-fill-available;
    z-index: -999;
    position: absolute;
}

#non{
    z-index: 1221;
    position: none;
}

.column-text-2{

    height: inherit;
    margin: auto;

}