/*  display grid all of content  */

.content-box {
    position: relative;
    display: grid;
    grid-template-rows: auto;

}

.content-inline {
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
}





/*  content-text design right and left side     */

.content-text {
    float: left;
    margin: auto;
    margin-inline: 22vh;
    overflow: hidden;
}

.content-text a {
    font-family: 'Fraunces';
    font-weight: 900;
    word-spacing: 5px;
    text-transform: uppercase;
}

.content-text p {
    margin-bottom: 40px;
    margin-top: 40px;
    color: hsl(210, 4%, 67%);
    line-height: 30px;
}

h2 {

    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 55px;
    text-align: left;
}





/*   content-text on img    */

.text-absolute-box {
    z-index: 100;
    position: absolute;
    width: -webkit-fill-available;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;

}

.content-relative {
    position: relative;
    margin-top: 55%;
    overflow: hidden;
}

h3 {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;

}

.text-absolute-box p {
    width: 47%;
    line-height: 30px;
    margin: auto;
    text-align: center;
}

#content-graphic {
    color: hsl(167, 40%, 24%);
}

#content-photography {
    color: hsl(198, 62%, 26%);
}






/*  client-box */
h4 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 23px;
    text-align: center;
    color: hsl(210, 4%, 67%);
    margin-bottom: 2rem;

}

#client-box {
    margin-block: 17vh;
}

.card-clients {
    display: grid;
    grid-template-columns: 22% 22% 22%;
    column-gap: 3vh;
    justify-content: center;
    text-align: center;
}

.card-clients-r {
    display: grid;
    grid-template-rows: 100% 100% auto;

}

.card-clients p {
    color: hsl(213, 9%, 39%);
    line-height: 25px;
    margin-block: 8vh;
}

h5 {
    color: hsl(212, 27%, 19%);
    font-weight: 900;
    font-family: 'Fraunces';
    font-size: 20px;
}

h6 {
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
    color: hsl(232, 10%, 55%);
}

.profile-clients {
    width: 80px;
    border-radius: 50%;
    margin-top: 50px;
    margin-inline: auto;
}

.card-clients-row {
    display: grid;
    grid-template-rows: auto 50% auto;
}

.card-clients-row div {
    overflow: hidden;
}



/*      gallery-grid-flex        */
#gallery {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}